#header{
    background-color: lightskyblue;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}  

h1{
    color: white;
}

h2{
    color: blue;
}

h3{
    background-color: yellow;
}

h4{
    background-color: green;
    color: yellow;
}

h5{
    color: red;
}

#thedoctor{
    color: orange;
}

#taxi{
    color: red;
}

#art{
    background-color: greenyellow;
}

#daughter{
    background-color: yellow;
}

#imhim{
    color: blue;
}